.services button > .MuiPaper-root > .MuiButtonBase-root{
    padding: 10px !important;
}

.MuiTypography-colorTextSecondary {
    font-size: 1.5rem !important;
}

button > .MuiCardMedia-root {
    width: 50px;
    height: 50px;
    margin: 16px 2px 16px 20px;
}

.MuiCardContent-root > .MuiTypography-h5 {
    font-size: 27px !important;
    font-weight: 800 !important;
    border-bottom: 1px solid #000 !important;
    justify-content: center;
}