*{
    margin: 0px;
    padding: 0px;
  }
  
  body {
    width: 100%;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
  } 
  
  .overlay {
    position: static;
    width: 100%;
    height: 100vh;
    background: #000;
    color:#D41E5B;
    top: 0%;
    z-index: 1999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow-x: hidden;
  }
  
  .overlay h1 {
    font-size: 700%;
    font-weight: bolder;
    letter-spacing: 20px;
  }

  .odedra__boy {
    top: -244%;
    width: 660px;
    position: absolute;
  }
  
  
  .overlay span {
    font-size: 100%;
    font-weight: bolder;
    letter-spacing: 5px;
  }
  
  
  .nav {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    justify-content: space-between;
  }
  
  .logo {
    flex: 0 0 33%;
    background: #000;
    color: #D41E5B;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  ul {
    list-style: none;
  }
  
  .logo h1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 2;
  }
  
  .logo span {
    font-size: 35px;
    line-height: 1;
  }
  
  .menu__link {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-top: 50px;
  }
  
  .menu__link > ul > li {
    padding:10px;
    color: #494949;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;  
  }
  
  .menu__link > ul > li:hover {
    background: #494949;
    color: #FFEB00;
  }
  
  .menu__link > ul {
    width: 100%;
  }
  
  .scroll__down {
    flex: 1;
    display: flex;
    justify-content: center;
    transform: rotate(-90deg);
  }
  
  
  .scroll__down::before {
    display: inline-block;
    content: "";
    border-top: 1px solid #000;
    width: 50px;
    margin: 0 5px 0 0 ;
    padding-top: -22px;
    transform: translateY(10px);
  }
  
  
  .text {
    position: absolute;
    top: 25%;
    right: 60px;
    transform: translateY(-50%);
    text-align: right;
    color: #494949;
    max-width: 550px;
  }
  
  .text .title {
    font-size: 120px;
  }
  
  .watch__now {
    display: flex;
    align-items: center;
    position: absolute;
    top: 75%;
    right: 0;
    transform: translateY(-50%);
    background: #000;
    color: #D41E5B;
    padding: 30px 180px 30px 30px ;
  }
  
  .watch__now > a {
    text-decoration: none;
    color: #D41E5B;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 3px solid #000;
    padding-bottom: 10px;
  }
  
  
  .watch__now > .MuiSvgIcon-root {
    color: #fff;
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
  } 
  
  .media {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
  }
  
  
  .media ul li {
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    color: #494949;
    cursor: pointer;
  }
  
  .media ul li:hover {
    background-color: #FFEB00;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
  }
  
  .ellipse-container {
    width: 608px;
    height: 608px;
    /* background-color: #FFEB00; */
    position: absolute;
    top:50% ;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin: 0 auto;
    z-index: -1;
    
    background: url('https://previews.123rf.com/images/ichbinsam/ichbinsam1608/ichbinsam160800032/61250324-office-workers-working-on-computer-clipart.jpg');
    background-position: 50%;
    background-size: cover;
  }
  
  .ellipse {
    position: absolute;
    top: 0;
    border-radius: 50%;
    border-style: solid;
  }
  
  .ellipse.thin {
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-color: #494949;
    opacity: 0.5;
  }
  
  .ellipse.thick {
    width: 93%;
    height: 93%;
    border-width: 10px;
    border-color: #fff;
    transform: rotate(-45deg);
    top: 22px;
    left: 22px;
  }
  
  .ellipse.yellow {
    width: 93%;
    height: 93%;
    border-width: 10px;
    border-color: #505cc1 transparent;
    transform: rotate(-45deg);
    top: 22px;
    left: 22px;
    animation: ellipseRotate 15s ease-in-out infinite;
  }
  
  
  @keyframes ellipseRotate {
    0% {
      transform: rotate(-45deg);
    }
  
    100% {
      transform: rotate(-405deg);
    }
  }
  
  
  .circle1, .circle2 {
    border-style: solid;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border-width: 1px;
    border-color: rgba(0,0,0,0.5);
    position: absolute;
  }
  
  .circle1 {
    top: 150px;
    left: 200px;
  }
  
  .circle2 {
    bottom: 150px;
    right: 200px;
  }
  
  
  .circle1::before, .circle1::after , .circle2::before, .circle2::after {
    content: "";
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 30px;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .circle1::before, .circle2::before {
    width: 12px;
    height: 12px;
    background-color: #fff;
    z-index: 1;
  }
  
  .circle1::after, .circle2::after  {
    width: 40px;
    height: 40px;
    background-color: #FFEB00;
  }
  
  
  .circle1 span , .circle2 span {
    position: absolute;
    top: 25px;
    left: 75px;
    width: 100px;
    font-size: 14px;
  }

.subscribe-area {
    background: #FFEB00;
    padding-top: 50px;
    font-family: Ubuntu,sans-serif;
    padding-bottom: 50px;
    position: relative;
}
.subscribe-area:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 25px;
  background-image: url("https://res.cloudinary.com/odedra/image/upload/v1601617309/border.6de7b0cf_ccuzbf.png");
  background-position: 50%;
  background-repeat: repeat;
  background-size: contain;
  -webkit-transform: rotate(540deg);
  transform: rotate(540deg);
}


.newsletter-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

button > .MuiSvgIcon-root {
  font-size: 25px;
}