.home > img {
    width: 100%;
    position: relative;
    mask-image: linear-gradient(to bottom, rgba(0,0,1,1), rgba(0,0,0,0));
}

.services {
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('/public/images/wave.png');
}


.home__serviceTag {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.services > .MuiCard-root {
    margin: 0px 10px;
    width: 275px;
    transition: transform .2s;
}

.services > .MuiCard-root:hover {
    -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
  z-index: 12333;
}

@media only screen and (max-width: 900px) {
    .services {
        flex-wrap: wrap;
    }
    .services > .MuiCard-root {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}


.services .MuiPaper-root{
    -webkit-box-shadow: 0 0 5px 2px #000;
    -moz-box-shadow: 0 0 5px 2px #000;
    box-shadow: 0 0 5px 2px #000;
}

.service__area {
    margin-top: -20px;
    padding: 25px;
    background-attachment: fixed;
    min-height: 600px;
    background-image: url('https://res.cloudinary.com/odedra/image/upload/v1601626067/bg.748fba6c_mdtzrc.png');
}
