.header__logo {
    height: auto;
    width: 220px;
}

.header {
    position: absolute;
    z-index: 111;
    width: 100%;
}


@media only screen and (max-width: 770px) {
    .header {
        position: relative;
        z-index: 1;
    }

    .overlay__menu {
        z-index: 999;
    }
  }