
.text_details {
    background-color: #caeef7;
    min-height: 600px;
    align-items: center;
    padding: 35px 20px 0px 20px;
}

.text_details > h1 , .text_details > p {
    text-align: center;
}

.team_data {
    margin-top: 40px;
}


.single-team > img {
    border-radius: 20%;
}

.single-team ul {
    margin: 0;
    list-style-type: none;
    background: #71c21b;
    position: relative;
    top: -20px;
    padding: 6px 30px;
    border-radius: 30px;
}
.single-team ul, .single-team ul li {
    display: inline-block;
}
.single-team ul li  {
    margin: 0px 20px;
}
.single-team ul li a {
    color: #fff;
    font-size: 15px;
    margin: 0 -3px;
    width: 33px;
    border-radius: 50%;
    border: 1px solid transparent;
    height: 33px;
    text-align: center;
    line-height: 33px;
}

li > a > svg {
    font-size: 32px !important;
}

.single-team > h3 , .single-team > span {
   
}