

.about-banner {
    width: 100%;
    max-height: 350px;
}

.about-banner  > img {
    width: 100%;
    margin-top: -175px;
    height: 400px;
}

.about-banner > h2 {
    position: absolute;
    top: 66px;
    left: 22px;
    font-size: 80px;
    color: #fff;
}

.about-details {
    display: flex;
    padding: 20px 60px;
    justify-content: center;
    text-align: justify;
}

.about-details > img {
  width: 50%;
  align-items: center;
}

.about-detail {
    padding: 30px 10px 0px 35px;
}

.background-image-holder {
    opacity: 1 !important;
}

.background-image-holder > img{
    display: block !important;
}